---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Sidebar from "../../../components/Wiki/Sidebar.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("guides");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { data } = entry;

const { Content } = await entry.render();
---

<Layout title={`Guide • ${data.title}`}>
  <div class="vw-section">
    <div class="vw-container">
      <div class="vw-grid-large" data-vw-grid>
        <Sidebar />
        <div class="vw-width-1-1 vw-width-expand@m">
          <article class="vw-article">
            <h1 class="vw-article-title">Guide • {data.title}</h1>
            <p class="vw-text-lead vw-text-muted">{data.description}</p>
            <br />
            <div class="article-content link-primary">
                <Content />
            </div>
            <hr class="vw-margin-medium" />
          </article>
          <div class="vw-section vw-text-center">
            <!-- <div class="vw-container vw-container-small">
              <div data-vw-scrollspy="cls: vw-animation-slide-bottom-medium; repeat: true">
                <p class="vw-text-lead vw-text-center">Want to expand this wiki page?</p>
                <a class="vw-button vw-button-primary vw-button-large vw-margin-medium-top" href={`https://github.com/vtuberwiki/wiki/blob/main/src/content/vtubers/${entry.slug}.md`}>Edit this page</a>
              </div>
            </div>
            <br /> -->
            <div class="vw-container vw-container-small">
              <div data-vw-scrollspy="cls: vw-animation-slide-bottom-medium; repeat: true">
              <div id="disqus_thread"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/docs.js" is:inline></script>
  <script is:inline>
    var disqus_config = function () {
      this.page.url = window.location.href;
      this.page.identifier = window.location.pathname;
    };
    (function () {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement("script");
      s.src = "https://vtuberwiki.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
<script src="/static/js/@include/CheckD.js" is:inline></script>
</Layout>
