/* Badge styles */
.badge {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
}

/* Badge colors */
.badge-success {
    background-color: #28A745;
    border-color: #28A745;
}

.badge-warning {
    background-color: #FFC107;
    border-color: #FFC107;
}

.badge-danger {
    background-color: #DC3545;
    border-color: #DC3545;
}

/* Additional styles for links */
.badge a {
    text-decoration: none;
    color: #fff;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.alert {
    padding: 20px;
    background-color: #3649f4;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.anchor {
    display: inline-flex;
    /* Use flexbox for the anchor container */
    align-items: center;
    /* Vertically center the items */
    margin-right: 0.5em;
    /* Adjust the spacing between the SVG and text */
    vertical-align: middle;
    /* Align the SVG vertically with the text */
    fill: currentColor;
    /* Use the current text color for the SVG */
    transition: fill 0.3s ease;
    /* Add a smooth transition effect for the fill property */

    /* Additional styles if needed */
    /* For example: font-size, color, etc. */
}

.anchor:hover {
    fill: #007bff;
    /* Change the fill color on hover */
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}