---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Changelog"
  description="When we release a new version of Vtuber Wiki we will post a changelog"
>
  <div class="vw-section">
    <div class="vw-container container-xxsmall">
      <h1 class="vw-article-title">Changelog</h1>
      <div class="article-content"><span><i class="bi bi-info-circle" style="color: #3778ff;"></i></span> When we release a new version of Vtuber Wiki we will post a changelog</div>
    </div>
  </div>

  <script is:inline src="/js/@include/@changelog/add.js"></script>
</Layout>
