---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const formatting = await getCollection("misc")

const _ = formatting.find((a) => a.slug === "formatting");

const { Content } = await _.render();
---

<Layout title="Pull Request Formatting">
  <div class="vw-section">
    <div class="vw-container vw-container-small">
      <h2 class="vw-h1 vw-text-center">Pull Request Formatting</h2>
      <p class="vw-text-center vw-text-lead">
        This is a guide to formatting your pull requests.
      </p>

      <div class="article-content link-primary">
        <Content />
      </div>
    </div>
  </div>
  <style is:inline>
    code {
      color: black;
    }
  </style>
</Layout>
