---
import Layout from "../layouts/Layout.astro";
import Alert from "../components/Alerts.astro";
---

<Layout title="Search" description="Search for things in the wiki!">
  <div
    class="vw-section section-hero vw-position-relative"
    data-vw-scrollspy="cls: vw-animation-slide-bottom-medium; repeat: true"
  >
    <div class="vw-container vw-container-small">
      <p class="hero-image vw-text-center">
        <img src="/images/knowledge.svg" alt="Hero" />
      </p>
      <p class="vw-text-lead vw-text-center">How can we help you?</p>
      <div class="hero-search">
        <div class="vw-position-relative">
          <form
            class="vw-search vw-search-default vw-width-1-1"
            name="search"
            onsubmit="return false;"
          >
            <span class="vw-search-icon-flip" data-vw-search-icon></span>
            <input
              id="search"
              class="vw-search-input vw-box-shadow-large"
              type="search"
              placeholder="Search for answers"
              autocomplete="off"
              data-minchars="1"
              data-maxitems="30"
            />
          </form>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div id="res_banner">
        <Alert type="info" message="This Search Engine Feature is in <strong><i>BETA</i></strong>. That means some things might break. If they do, please open a <a href='https://github.com/vtuberwiki/wiki/issues' style='color: red;'>issue here</a>" includeCloseButton={false} />
      </div>
      <div id="results"></div>
    </div>
  </div>

  <script is:inline src="/js/@include/search.js"></script>
  <link rel="stylesheet" href="/css/search/styles.css">
</Layout>
