---
import SearchLayout from "../layouts/SearchLayout.astro";
---

<SearchLayout title="Search" description="Search for things in the wiki!">
  <main>
    <div class="px-4 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="/images/logo.png"
        alt="Logo"
        width="64"
        height="64"
      />
      <h1 class="display-5 fw-bold" style="color: white;">
        Vtuber Wiki Search Engine
      </h1>
    </div>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
      <i class="bi bi-info-circle-fill me-2"></i>
      <div>
        <p class="mb-0">
          This search engine is still in development. If you have any
          suggestions, please let us know on our <a
            href="https://github.com/vtuberwiki/.github/discussions"
            >Discussions</a
          > page.
        </p>
      </div>
    </div>
    <!-- Content goes here -->
    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="Search..." />
      <div class="btn-group">
        <button type="button" class="btn btn-primary" onclick="(async function () { await search() })();">Search</button>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" id="search_quick"></ul>
      </div>
    </div>

    <div id="res_banner"></div>
    <div id="results">
    </div>
  </main>

  <script is:inline src="/js/@include/search.js"></script>
</SearchLayout>
