---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";

const endpoints = await getCollection("api_endpoints");
---

<Layout title="Api">
    <div class="vw-section">
        <div class="vw-container vw-container-small">
            <h2 class="vw-h1 vw-text-center">Api Endpoints</h2>
            <ul class="vw-margin-medium-top" data-vw-accordion="multiple: true">
               {
                endpoints.map((endpoint) => (
                <li>
                    <a class="vw-accordion-title vw-box-shadow-hover-small" href={endpoint.data.endpoint}>V{endpoint.data.version}</a>
                    <div class="article-content vw-accordion-content link-primary">
                        {endpoint.data.endpoints.map((e) => (
                            <p>{e}</p>
                        ))}
                    </div>
                </li>
                ))
               }
            </ul>
        </div>
    </div>
</Layout>