---
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Api">
    <div class="vw-section section-featured">
        <div class="vw-container vw-container-small">
            <h2 class="vw-h1 vw-text-center">Api Endpoints</h2>
            <ul class="vw-list vw-list-large vw-margin-medium-top">
                    <li><a class="vw-box-shadow-hover-small" href="/api/vtubers.json">Vtubers</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/software.json">Software</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/guides.json">Guides</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/faq.json">Faq</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/search-list.json">Search List</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/authors.json">Authors</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/changelog.json">Changelog</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/partners.json">Partners</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/search/q">Search</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/topics.json">Topics</a></li>
                    <li><a class="vw-box-shadow-hover-small" href="/api/blog.json">Blog Posts</a></li>
            </ul>
        </div>
    </div>
</Layout>