---

---

<footer class="vw-section vw-text-center vw-text-muted">
  <div class="vw-container vw-container-small">
    <div class="vw-margin-medium">
      <div
        data-vw-grid
        class="vw-child-width-auto vw-grid-small vw-flex-center"
      >
        <div class="vw-first-column" id="foot_so"></div>
      </div>
    </div>
  </div>

  <div class="vw-margin-medium vw-text-small copyright link-secondary">
    Made with ❤️ <span>and with the help of</span>
    <a href="https://github.com/vtuberwiki/wiki/contributors" id="code-vtubers">
      the community</a
    >
    <br />
    <br />
    <div id="code-badges">
      <img
      src="https://sonarcloud.io/images/project_badges/sonarcloud-white.svg"
      loading="lazy"
      width="100px"
      height="50px"
      data-url="https://sonarcloud.io?ref=vtuberswiki"
    />

    <img
      src="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=2f2820e4-289d-487e-a0ab-185a1a43c1d7"
      loading="lazy"
      width="100px"
      height="50px"
      data-url="https://dmca.com?ref=vtuberswiki"
    />
    </div>
  </div>
</footer>

<script is:inline src="/static/js/@bootstrap/socials_footer.js"></script>
<script is:inline src="/static/js/@bootstrap/footer_badges.js"></script>
