---
---

<footer class="vw-section vw-text-center vw-text-muted">
  <div class="vw-container vw-container-small">
    <div class="vw-margin-medium">
      <div
        data-vw-grid
        class="vw-child-width-auto vw-grid-small vw-flex-center"
      >
        <div class="vw-first-column" id="foot_so"></div>
      </div>
    </div>
  </div>
  <div class="vw-margin-medium vw-text-small copyright link-secondary">
    Made with ❤️ <span>and with the help of</span>
    <a href="https://github.com/vtuberwiki/wiki/contributors" id="code-vtubers"
      > the community</a
    >
  </div>
</footer>

<script is:inline src="/static/js/@bootstrap/socials_footer.js"></script>