---
import Nav from "./OffCanvas/Nav.astro";
import Wiki from "./OffCanvas/Wiki.astro";
---

<header>
  <div
    data-vw-sticky="animation: vw-animation-slide-top; sel-target: .vw-navbar-container; cls-active: vw-navbar-sticky; cls-inactive: vw-navbar-transparent; top: 200"
  >
    <nav class="vw-navbar-container">
      <div class="vw-container">
        <div data-vw-navbar>
          <div class="vw-navbar-left">
            <a class="vw-navbar-item vw-logo vw-visible@m" href="/"
              >Vtuber Wiki</a
            >
            <a
              class="vw-navbar-toggle vw-hidden@m"
              href="#offcanvas-wiki"
              data-vw-toggle
              ><span data-vw-navbar-toggle-icon></span>
              <span class="vw-margin-small-left">Wiki</span></a
            >
            <ul class="vw-navbar-nav vw-visible@m navbar_items">
              <li><a href="/">Home</a></li>
              <li>
                <a href="#">Wiki</a>
                <div class="vw-navbar-dropdown">
                  <ul class="vw-nav vw-navbar-dropdown-nav">
                    <li><a href="/wiki/vtubers">Vtubers</a></li>
                    <li><a href="/wiki/software">Software</a></li>
                    <li><a href="/wiki/guides">Guides</a></li>
                    <li><a href="/wiki/agencies">Agencies</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="/faq">Faq</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/donate">Donate</a></li>
            </ul>
          </div>
          <div class="vw-navbar-right">
            <div>
              <a
                id="search-navbar-toggle"
                class="vw-navbar-toggle"
                data-vw-search-icon
                href="#"></a>
              <div
                class="vw-background-default vw-border-rounded"
                data-vw-drop="mode: click; pos: left-center; offset: 0"
              >
                <form
                  class="vw-search vw-search-navbar vw-width-1-1"
                  onsubmit="return false;"
                >
                  <input
                    id="search-navbar"
                    class="vw-search-input"
                    type="search"
                    placeholder="Search for a specific vtuber"
                    autofocus
                    autocomplete="off"
                    data-minchars="1"
                    data-maxitems="30"
                  />
                </form>
              </div>
            </div>
            <ul class="vw-navbar-nav vw-visible@m">
              <li>
                <div class="vw-navbar-item">
                  <a
                    class="vw-button vw-button-primary-outline"
                    href="/changelog">Changelog</a
                  >
                </div>
              </li>

              <li>
                <div class="vw-navbar-item">
                  <a
                    class="vw-button vw-button-success"
                    id="discord-button-navbar"
                    href="https://discord.gg/zCkbdv4qkW">Discord</a
                  >
                </div>
              </li>
            </ul>
            <a
              class="vw-navbar-toggle vw-hidden@m"
              href="#offcanvas"
              data-vw-toggle
              ><span data-vw-navbar-toggle-icon></span>
              <span class="vw-margin-small-left">Menu</span></a
            >
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<Nav />
<Wiki />

<script is:inline src="/static/js/navbar.js"></script>
