---
interface Props {
  url: string;
}

const CreateUrl = (url: string) => {
 // Check if the url contains http or https
  if (url.includes("http://") || url.includes("https://")) {
    return url;
  } else {
    return `https://vtubers.wiki${url}`;
  }
};

const fetchData = async () => {
  const res = await fetch(CreateUrl(Astro.props.url));
  const htmlData = await res.text();
  return htmlData.trim();
};

const parseHtmlData = (htmlData: string) => {
  const titleMatch = htmlData.match(/<title>(.*?)<\/title>/);
  var HTML_TITLE = titleMatch ? titleMatch[1] : "No title found";

  return {
    HTML_TITLE,
  };
};

const render = async () => {
  const htmlData = await fetchData();
  return parseHtmlData(htmlData);
};

const { HTML_TITLE } = await render();
---

<a href={Astro.props.url}>
  <div class="chip">
    <img src="/images/logo.png" alt="Logo" width="96" height="96" />
    {HTML_TITLE}
  </div>
</a>
