---
import { getCollection } from "astro:content";

const topics = await getCollection("topics");
---

<div class="vw-section">
  <div class="vw-container">
    <h2 class="vw-h1 vw-text-center">Browse Topics</h2>
    <p class="vw-text-lead vw-text-center">Explore the different topics</p>
    <div
      class="vw-child-width-1-3@m vw-grid-match vw-text-center vw-margin-medium-top"
      data-vw-grid
    >
      {
        topics.map((topic) => (
          <div>
            <div class="vw-card vw-card-default vw-box-shadow-medium vw-card-hover vw-card-body vw-inline border-radius-large border-xlight">
              <a class="vw-position-cover" href={`/wiki/${topic.slug}`} />
			  <img src={`/icons/misc/topics/${topic.slug}.svg`} style="width: 2.4rem;" />
              <h3 class="vw-card-title vw-margin">{topic.data.title}</h3>
              <p>{topic.data.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
