---
---

<div class="vw-section">
	<div class="vw-container">
		<h2 class="vw-h1 vw-text-center">Browse Topics</h2>
		<p class="vw-text-lead vw-text-center">Explore the different topics</p>
		<div class="vw-child-width-1-3@m vw-grid-match vw-text-center vw-margin-medium-top" data-vw-grid>
			<div>
				<div
					class="vw-card vw-card-default vw-box-shadow-medium vw-card-hover vw-card-body vw-inline border-radius-large border-xlight">
					<a class="vw-position-cover" href="/wiki/software"></a>
					<i class="bi bi-plugin" style="font-size: 2.4rem;"></i>
					<h3 class="vw-card-title vw-margin">Software</h3>
					<p>Learn about the different type of software vtubers use</p>
				</div>
			</div>

			<div>
				<div
					class="vw-card vw-card-default vw-box-shadow-medium vw-card-hover vw-card-body vw-inline border-radius-large border-xlight">
					<a class="vw-position-cover" href="/wiki/vtubers"></a>
					<i class="bi bi-camera-video-fill" style="font-size: 2.4rem;"></i>
					<h3 class="vw-card-title vw-margin">Vtubers</h3>
					<p>Learn about the different type of vtubers and their personalities</p>
				</div>
			</div>
		</div>
	</div>
</div>