---
---

<header id="wiki-header" class="wiki-header-style-1 wiki-has-sticky">
    <div class="wiki-bottom-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/">
                            <img class="img-fluid logo" src="/images/logo.png" alt="vtuberwiki-image">
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center;">
                            <div id="wiki-menu-contain" class="wiki-menu-contain">
                                <ul id="wiki-main-menu" class="navbar-nav ml-auto">
                                    <li class="menu-item">
                                        <a href="/clips" aria-current="page">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="wiki-header-info-box">
                            <div class="wiki-btn-container">
                                <a href="/about" class="wiki-button">
                                    <div class="wiki-button-block">
                                        <span class="wiki-button-line-left"></span>
                                        <span class="wiki-button-text">About</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>