---
---

<div id="offcanvas" data-vw-offcanvas="flip: true; overlay: true">
    <div class="vw-offcanvas-bar">
      <a class="vw-logo" href="/">Vtuber Wiki</a>
      <button class="vw-offcanvas-close" type="button" data-vw-close></button>
      <ul class="vw-nav vw-nav-primary vw-nav-offcanvas vw-margin-top">
        <li class="sidebar_item"><a href="/">Home</a></li>
        <li class="sidebar_item"><a href="/wiki/vtubers">Vtubers</a></li>
        <li class="sidebar_item"><a href="/wiki/software">Software</a></li>
        <li class="sidebar_item"><a href="/wiki/guides">Guides</a></li>
        <li class="sidebar_item"><a href="/wiki/faq">Faq</a></li>
        <li class="sidebar_item"><a href="/wiki/changelog">Changelog</a></li>
      </ul>
    </div>


</div>

<script is:inline src="/js/@include/@wiki/sidebar.js"></script>