---
import Layout from "../../layouts/Layout.astro";
---


<Layout title="Wiki">
    <div class="vw-section vw-text-center">
        <div class="vw-container vw-container-small">
            <div data-vw-scrollspy="cls: vw-animation-slide-bottom-medium; repeat: true">
                <h2 class="vw-h1 vw-margin-bottom">Wiki</h2>
                <p class="vw-text-lead vw-text-center">It looks like you are new here. So let's get you started!</p>
                <a class="vw-button vw-button-primary vw-button-large vw-margin-medium-top" style="margin-right: 5px;" href="/wiki/vtubers">Vtuber Wiki</a>
                <a class="vw-button vw-button-primary vw-button-large vw-margin-medium-top" style="margin-right: 5px;" href="/wiki/guides">Guides</a>
                <a class="vw-button vw-button-primary vw-button-large vw-margin-medium-top" style="margin-right: 5px;" href="/wiki/software">Software</a>
            </div>
        </div>
    </div>
</Layout>